.Wrappersearchbar {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.upvoteButton
{
    color: #bdbdbd;
    float: right;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Poppins','Lato',sans-serif;    
}

.upvoteButton > i
{
    cursor: pointer;
    padding:3px;
}

.midContainer
{
    padding-bottom: 0px;
    padding-top: 101px !important;
    height: 210px;
}

.userName
{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', 'Lato', sans-serif;
    float:left;
}

.mid-container {
    margin: 0 auto;
    padding: 5px
}

.openQuestions
{
    font-size: 20px;
    color: #075491;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    display: inline-block;
}

#domainTextMultiselect
{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
}

#bottomRow
{
    border-bottom: 1px solid #00A5FB;
    padding-top: 10px;
    padding-bottom: 8px;
}

.questionList
{
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    position: relative;
    margin-bottom: 20px;
    /* cursor: pointer; */
    padding: 10px 30px 10px 40px;
    overflow: auto;
    background: #fff;
    -webkit-transition: 0s !important;
    transition: 0s !important;
    overflow: hidden;
}

.sharingButton
{
    padding: 0px 6px;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.sharingButton, .heartButton
{
    color: #D3D3D3;
    font-size: 16px;
    font-weight: 100;
    float: right;
}

.headTitle
{
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 20px !important;
    color: #004358 !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    text-align: left;
    margin: 0px 0px 10px 0px;
    font-weight: normal;
}

.answerDiv
{
    word-break: break-word;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 5px;
}

.updateIconimg
{
    height:26px;
}

.ratingStars
{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
}

.ratingStars li
{
    color:#FFE11A;
    display: inline-block;
    font-size:12px;
    padding: 2px;
}

.reqImg
{
    width: 40px;
    height:25px;
    float: right;
}

.expertInfo
{
    padding:10px;
}

.showMore > i 
{
    color: #00A5FB;
    display: inline-block;
    padding: 3px;
    text-align: center;
}

.showMore
{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    color: #00A5FB;
    display: inline-block;
    padding: 3px;
    text-align: center;
    font-size: 14px;
}

#expertProfilePicture
{
    width:40px;
    height:40px;
    float:left;
}

.tagDomain 
{
   margin-top: 3px !important;
    text-align: left; 
}

.tagDomain h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
}

.label
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #4BCAFF;
    margin:2px;
}

.relatedQuestion
{
    color: #949494;
    font-size: 12px;
    margin-top: 0px !important;
}

.relatedCountNumber
{
    margin-right: 2px;
    background-color: green;
    cursor: pointer;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.tagsinQue span
{
    background-color: #aaa;
    font-weight: 400;
    margin:1.2px;
}

.tagsinQue h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

.tagLabel
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.answeredInfo span
{
     float: left;
    color: #949494;
    font-size: 12px;
    font-family: 'Poppins', 'Lato', sans-serif;
    padding:3px;
    font-weight:normal;
}

.answerBlock p 
{
    font-family: 'Poppins',sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.viewCount, .viewScore
{
    border-bottom: 1px dotted #ddd;
    float:left;
    color:gray;
    font-size: 14px;
    font-weight:500;
    padding:3px;
    font-family: 'Poppins',sans-serif;
}