#askanexpertlogo
{
    color: #00A5FB;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

#anExpertText
{
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 40px;
    color: #EC7C2B;
    font-weight: normal;
}