
/* .keyTermDiv
{
    width:46%;
    border:1px solid #a29a9a; 
    border-radius: 12px; 
    margin: 10px 10px 10px 25px;
} */

.keyTermsHeading
{
    font-size: 18px;
    color: #075491bd;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 0px;
    padding: 15px 15px 5px 15px;
}

.domainKeyTerms
{
    font-weight: 700;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    color: #716e6e;
}

.domainName
{
    font-family: 'Poppins',sans-serif;
    font-size: 13px;
}

.countQuestions
{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
}



