.tabItems
{
    font-family: 'Poppins','Lato',sans-serif;
    color: #004358;
    font-size: 17px;
    font-weight: normal;
    font-weight: 500;
}

.multiselectdropdown
{
    right: 358px;
    position: absolute;
    max-height: 30px;
}

.Wrappersearchbar {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.midContainer {
    padding-bottom: 0px;
    padding-top: 101px !important;
    height: 210px;
}