.ThreadReply
{
    background: rgb(251, 251, 251);
    padding: 4px;
    margin-left: 50px;
    margin-top: 3px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.repliesDiv
{
    overflow-y: hidden;
    padding: 0px 20px;
    margin: 7px 0px 7px 0px;
    font-size: 14px;
    font-weight: normal;
}