.Wrappersearchbar {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.midContainer
{
    padding-bottom: 0px;
    padding-top: 101px !important;
    height: 210px;
}

.mid-container {
    margin: 0 auto;
    padding: 5px
}

.openQuestionCount
{
    color: #fff;
    background: #4BCAFF;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin-left: 8px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.openQuestions
{
    font-size: 20px;
    color: #075491;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    display: inline-block;
}

#bottomRow
{
    border-bottom: 1px solid #00A5FB;
    padding-top: 10px;
}

/* List of questions css */

.questionsList
{
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    position: relative;
    margin-bottom: 20px;
    /* cursor: pointer; */
    padding: 10px 30px 10px 40px;
    /* pointer-events: none; */
    overflow: auto;
    background: #fff;
    -webkit-transition: 0s !important;
    transition: 0s !important;
    overflow: hidden;
}

#openQuestionsHeader 
{
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 20px;
    color: #004358;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    margin: 0px 0px 10px 0px;
    font-weight: normal;
}

.openTabIcons
{
    color: rgb(170, 170, 170);
}

.openTabIcons > i
{
    padding:3px;
    font-size: 14px;
}

#additionalContext
{
    font-family: 'Poppins',sans-serif;
    font-size: 14px !important;
    width: 100%;
    background: #eef1f3;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
}

#additionalContext:focus
{
outline: none;
}

.tagDomain 
{
   margin-top: 3px !important;
    text-align: left; 
}

.tagDomain h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
}

.label
{
display: inline;
padding: 0.2em 0.6em 0.3em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.25em;
background-color: #4BCAFF;
margin:2px;
}

.tagsinQue h3
{
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

#tagsInQuestion
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #aaa;
    font-weight: 400;
}
.requestUpdateIcon
{
    color: #ffffff;
    font-size: 14px;
    background: #6c94ba;
    padding: 4px 10px;
    border-radius: 2px;
    vertical-align: top;
    display: inline-block;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

.tagLabel
{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #aaa;
    font-weight: 400;
    margin:1.2px;
}