.Wrappersearchbar {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.midContainer
{
    padding-bottom: 0px;
    padding-top: 101px !important;
    height: 210px;
}

.mid-container {
    margin: 0 auto;
    padding: 5px
}

.openQuestionCount
{
    color: #fff;
    background: #4BCAFF;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin-left: 8px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.openQuestions
{
    font-size: 20px;
    color: #075491;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    display: inline-block;
}