.Wrappersearchbar {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.midContainer {
    padding-bottom: 0px;
    padding-top: 101px !important;
    height: 210px;
}

#bottomRow {
    border-bottom: 1px solid #00A5FB;
    padding-top: 10px;
    padding-bottom: 8px;
}

.myHistoryHeading
{
    font-size: 20px;
    color: #075491;
    margin-bottom: 12px;
    font-family: 'Poppins','Lato',sans-serif;
    font-weight: bold;
    float: left;
}

.viewByText
{
    font-family: 'Poppins','Lato',sans-serif;
    font-size: 14px;
    padding-right: 10px;
}

.selectHistory
{
    width: 70%;
    display: inline-block;
    font-family: 'Poppins','Lato',sans-serif;
    font-size: 12px;
}

.historyCount
{
    color: #fff;
    background: #4BCAFF;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin-left: 8px;
    font-size: 15px;
    float: left;
    font-family: 'Poppins','Lato',sans-serif;
}

.midSpacer
{
    padding: 5px;
}
