.Wrappersearchbar {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #eef0f2;
}

.midContainer
{
    padding-bottom: 0px;
    padding-top: 50px !important;
    min-height: 150px;
}

.mid-container {
    margin: 0 auto;
    padding: 5px
}