#expressQuestion {
    color: #fd7400;
    font-size: 24px;
    padding-right: 5px;
}

.questionText {
    border-bottom: none;
    background: white;
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 20px;
    color: #004358;
    font-weight: normal;
}

#additionalContext {
    font-family: 'Poppins', sans-serif;
    font-size: 14px !important;
    width: 100%;
    background: #eef1f3;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
}

.domainText {
    background-color: #4BCAFF;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 10px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em
}

.domainHeading {
    color: #949494;
    font-size: 12px;
    margin-top: 0px !important;
    font-family: 'Poppins', 'Lato', sans-serif;
}

.askedText {
    color: #949494;
    font-size: 12px;
    margin-top: 0px !important;
    font-family: 'Poppins', 'Lato', sans-serif;
    padding-left: 5px;
}

.answerTextBorder {
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tagLabel {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.tagsinQue span {
    background-color: #aaa;
    font-weight: 400;
    margin: 1.2px;
}

.tagsinQue h3 {
    font-family: 'Poppins', 'Lato', sans-serif;
    color: #949494;
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 8px;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

.viewAndRateButton {
    font-family: 'Poppins', 'Lato', sans-serif;
    float: right;
    background-color: #00A5FB;
    border-radius: 3px;
    margin: 0px 3px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.42857143;
}

#squareCheck {
    padding-right: 5px;
}

.cardSeperator {
    padding-top: 15px;
}

.variheightdiv {
    top: 0px;
    left: 0px;
    word-break: break-word;
    overflow: hidden;
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
    max-height: 67px;
}

.fader {
    margin-top: -77px;
    left: 0px;
    width: 100%;
    height: 77px;
    opacity: 0.99;
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.variheightdivexpanded{
    top: 0px;
    left: 0px;
    max-height: none;
    word-break: break-word;
}

.userPic
{
    width: 40px;
    height:40px;
    border-radius: 50%;
}

.profilePicDiv
{
    padding-left: 12px;
    float: left;
}

.userInfo
{
    margin-left: 55px;
}

.expertName
{
    font-weight: bold;
    font-size: 14px;
}

.userScore
{
    color: #949494;
    font-size: 14px;
    padding: 12px;
}

#starIconScore
{
font-size: 12px;
color:#b4c6cc;
}

.answerBlockText
{
    margin: 0 auto;
    padding: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.spacer
{
    padding-top: 0;
}

.answeredDate
{
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    color:#949494;
    display: grid;
}

#ratingText
{
    color: #949494;
    font-size: 12px;
    display: inline-block;
    padding-right: 12px;
}

.actionButtonDiv
{
    position: absolute;
    right:10px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.actionButtonDiv > i
{
    padding:5px;
}

#clickabletag
{
    background-color: #f98d8d;
    font-weight: 400;
    margin:1.2px;
    display: inline;
    font-family: 'Poppins','Lato',sans-serif;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    cursor: pointer;   
}